# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=products_db
DB_USER=postgres
DB_PASSWORD=your_password

# Application Configuration
APP_PORT=3000
APP_ENV=development
SECRET_KEY=your_secret_key

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379

# External Services
API_KEY=0cPDuSjpZvtI2yPkpzZAwBfbLctdcJzhXHszZ0joyzU+Wtg4eiXAqOyVfznjA5Qa/5bsauECz4p7jmVesAX5lQ
# Create JWT_SECRET with require('crypto').randomBytes(64).toString('base64')
JWT_SECRET=+LOehcI3vVFc4MzjiP8LZXrHSQP3AB4ndBtgd2JoTld0RTl7Rcwqw+jhI7bbR0shIjFqgfVkan4yorPL8qVTkQ==